body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(33.33% - 20px);
}

.product h2 {
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product a:hover {
    background-color: #0056b3;
}